body {
    box-sizing: border-box;
    background-color: #740001;
    color: #C0C0C0;
}

.listPg, .detailPg, .spellPg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail{
    width: 450px;
    background-color: #D3A625;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 175px;
}

.detailImg{
    width: 300px;
}

ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      padding: 10px;
}

li{
      width: 200px;
      background-color: #D3A625;
      padding: 10px;
      margin: 10px;
      text-align: center;
}

.spell{
    width: 50%;
    background-color: #D3A625;
    color: #740001;
    font-weight: 900;
    font-size: 1.5rem;
    font-style: italic;
    text-align: left;
    padding: 30px;
}

.info{
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    display: block;
    margin: 10px;
    margin-inline-start: 30px;
}

h3{
    background-color: #D3A625;
    color: #740001;
    font-size: 22px;
}

p{
    background-color: #D3A625;
    color: #740001;
    margin: 5px;
}

a{
    color: #D3A625;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}